



ul{
  padding-left: 0;
}
body{margin: 0;}
.banner{
  height: 400px;
  background-image: url(../images/pics/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 30px;}

.banner h1, .banner h2{
  padding-left: 14%;
  color: white;}

.banner h1{
  font-size: 5.4em;
  padding-top: 120px;
  font-weight: 400;
  margin: 0;}

.banner h2{
  font-size: 2.5em;
  font-weight: 300;
  padding-top: 10px;
  margin: 0;}

.introduce {
  text-align: center;
  background-color: #EDF5F1;}

.introduce h1{
  font-size: 2.5em;
  font-weight: normal;
  color: #81C87B;
  padding-top: 40px;
  margin: 0;}

.introduce .p2{
  line-height: 30px;}

.introduce p{
  font-size: 1.3em;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  padding-left: 16%;
  padding-right: 12%;
  color: #7F8677;}

.introduce .p1{
  padding-top: 20px;}

.introduce li{
  list-style-type: none;
  display: inline-block;
  padding: 50px 40px 50px;}

.introduce ul{margin: 0;}

.introduce h2, .introduce h3{
  font-size: 1.3em;
  color: #81C87B;
  font-weight: normal;
  line-height: 20px;}


.introduce .jpg
{
  width: 49%;
  max-width: 900px;
}

.introduce .jpg img{border:1px solid #81C87B;
  padding:5px 5px; width: 100%;}


.hope {
  background-color: #F3EFE1;
  text-align: center;}

.hope h1{
  font-size: 2.5em;
  font-weight: normal;
  color: #CC923D;
  padding-top: 50px;
  line-height: 24px;
  margin: 0;}

.hope p{
  color: #8A877A;
  font-size: 1em;
  font-weight: 300;
  line-height: 24px;}

.hope li{
  list-style-type: none;
  display: inline-block;
  padding: 60px 2% 30px;}

.hope ul{
  margin: 0;
  padding-bottom: 50px;}

.hope li p{
  text-align: left;
  padding: 10px 0 20px 29%;
  margin: 0;}

.hope .png2 p{padding:10px 0 20px 32%;}

.hope h2{
  font-size: 1.7em;
  color: #CC923D;
  font-weight: 400;
  margin: 0;
  padding-top: 20px;}

.hope .png1 img{width: 80%;}
.hope .png2 img{width: 70%;}
.hope .png3 img{width: 80%;}

.hope .p1{
  color: #827878;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 40px;
  margin: 0;}

.hope .p2{
  color: #827878;
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 5px;
  margin: 0;}



.duty {background-color: #F5E9E9;}

.duty h1{
  font-size: 2.5em;
  font-weight: normal;
  color: #D76E6E;
  margin: 0;
  padding-top: 40px;}

.duty{
  background-color: #F5E9E9;
  margin: 0;
  text-align: center;}

.duty .content{

  vertical-align: middle;
  padding: 40px 20px 60px;}

.duty .img-wrapper{
  display: inline-block;
  width: 40%;
  vertical-align: middle;

}
.duty .text{
  vertical-align: middle;
  display: inline-block;
  width: 55%;
}

.duty img{width: 80%;}

.duty p{
  text-align:left;
  font-size: 1.3em;
  font-weight: normal;
  color: #9B9090;}



.xxs-only{
  display: none;
}
.history{
  position: relative;
  background-color: #eaf3f5
}

.history h3{
  color: #4EAECA;
  text-align: center;
  font-size: 4.5em;
  padding-top: 45px;
  margin:0;
}

#histograph{
  position: absolute;
  left: 50%;
  top:18%;
  transform: translateX(-50%);
}

.history ul{
  padding: 20px 10% 50px;
}


.history li{
  height: 150px;
  list-style-type: none;
}
.history li{
  height: 149px;

  list-style-type: none;
  width: 100%;
}
.history li:nth-child(even){
  text-align: right;
}

.history li:nth-child(even) h6{
  text-align: left;
}
.history li:nth-child(odd) h6{
  text-align: right;
}

.history li h6{

  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 32%;
  font-size: 1.4em;
  color: #798F9E;
}

.vruler{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media (max-width: 1210px){
  .history li h6{
    width: 25%;
    font-size: 1.2em;
    color: #798F9E;
  }
  .hope li.png{
    width: 30%;
  }
  .hope .png p{
    padding-left: 30%;
    padding-right: 0;
  }
  .duty p{
    font-size: 1.2em;
    }
}

@media (max-width: 991px){
  .banner h2{font-size: 2em}

  .introduce p{
    font-size: 1.1em;
    line-height: 20px;}

  .hope h2{font-size: 1.4em;}
  .hope li{width: 30%;}
  .hope .png2 p {padding: 10px 0 20px 21%;}
  .hope li p {padding: 10px 20% 20px;}

  .history li h6{
    width: 25%;
    font-size: 1.1em;
  }
  .history ul{
    padding: 20px 5% 50px;
  }
  .history h3{
    font-size: 3em;
    padding-top: 45px;
  }
  #histograph{
    top:16%;
  }

  .duty p{
    font-size: 1em;
    }
}


@media (max-width: 767px){
  .history ul{
    padding: 20px 0 50px;
  }
  .history li h6{
    width: 20%;
  }
}
@media (max-width: 450px) {
  .banner h1{
    padding-top: 60px;
    font-size: 3em;
  }
  .banner h2{
    font-size: 1.5em;
  }
  .banner{
    height: auto;
    padding-bottom: 60px;
  }
  .introduce .jpg
  {
    width: 100%;
    padding: 10px 20px;
  }


  .hope p.p1{
    padding-top: 20px;
  }
  .hope p.p2{
    padding-top: 0;
  }

  .hope p.p1, .hope p.p2{
    font-size: 0.9em;
  }

  .hope li.png{
    padding-top: 20px;
    padding-bottom: 0;
    width: 100%;
  }
  .hope ul{
    padding: 30px 0;
  }
  .hope ul .png img{
    width: 30%;
  }
  .hope h2{
    font-size: 1.3em;
  }
  .hope ul .png p{
    font-size: 1em;
    padding-left: 34%;
  }

  #histograph{
    display: none;
  }
  .history li h6{
    width: 100%;
  }

  .history li h6 strong{
    color: rgba(0, 0, 0, 0.5);
    line-height: 24px;
  }

  .history li:nth-child(even){
    text-align: left;
  }
  .history li:nth-child(odd) h6{
    text-align: left;
  }
  ul{
    margin-left: 5%;
  }
  .history li{
    height: 70px;
    list-style-type: disc;
  }

  .xxs-only{
    display: block;
  }

  .duty img{
    display: none;
  }
  .duty .text{
    width: 100%;
  }


}
