

@media (min-width: 451px){
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
}

body{
  color: #494949;
  overflow-x:hidden;
}
h4{
  font-size: 3em;
}

.sm-below{
  display: none;
}
body .text-block.xxs-only{
  display: none;
}
.xxs-only{
  display: none;
}


/*Banner*/
.banner{
  background-color: #EEFFFF;
}

.banner-image{
  display: inline-block;
  padding-left: 10%;
  width: 50%;
}
.banner-text-block{
  display: inline-block;
  padding: 0 2%;
  width: 30%
}

/*resources*/

.resource{
  padding: 160px 0;
}

.resource .text-block
{
  padding-left: 7%
}
.resource h4{
  font-size: 6em;
  color: #292929;
}
.resource .highlight{
  font-weight: 200;
  color: #38C5CD;
}
.resource p{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1.7em;
  color: #6b6b6b;
  font-weight: 300;
}


/*online-space*/
.online-space{
  height: 700px;
  background-size: cover;
  background-clip: content-box;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-image: url("../images/bg-online-space.png");
  background-color: #EEF0EF;
}
.online-space .text-block{

  padding: 150px 0 0 74%;
  text-shadow: 3px 3px 7px #ffffff;
}


.online-space p{
  padding-top: 20px;
  font-size: 1.1em;
}

/*teaching-space*/
.teaching-space{
  padding-top: 130px;
  padding-bottom: 100px;
}
#teaching-image{
  width: 100%;
}
.teaching-space .text-block{
  text-align: center;
  padding-top: 10px;
}
.teaching-text{
  display: inline-block;
  vertical-align: middle;
}
.teaching-text h4{
  padding-right: 3px;
}
.teaching-subtext{
  text-align: left;
  padding-left: 3px;
}
.teaching-text h5{
  padding-top: 3px;
  font-size: 2.4em;
  font-weight: 200;
  margin:0;
}
.teaching-text p{
  font-weight: 200;
  margin: 0;
  padding-top: 0px;
  color: #6C6C6C;
}

/*student space*/
.study-space{
  background-color: #f0f0f0;
  padding-top: 10px;
}
#study-image{
  padding-left: 7%;
  width: 58%;
  display: inline-block;
}
.study-space .text-block{
  display: inline-block;
  vertical-align: middle;
  padding-left: 5%
}
.study-space .rect-header{
  background-image: url("../images/text-block.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.study-space h4{
  padding-bottom: 20px;
}
.study-space p{
  text-align: center;
  padding: 14px;
  font-weight: 200;
  font-size: 0.9em;
  line-height: 20px;
}

/*互动课堂*/
.smartclass{
  height: 695px;
  background-image: url("../images/bg-smartclass.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #EAF7E9;
}
.smartclass table{
  color: white;
}
.smartclass .container{
  padding-top: 50px;
}
.smartclass .title-deco-blue
{
  width: 4px;
  background-color: #21E3EE;
}
.smartclass h4{
  padding-left: 10px;
  margin: 0;
}
.smartclass p{
  padding-top: 10px;
  padding-left: 10px;
  width: 280px;
}
/*teaching mode*/
.teaching-mode{
  min-height:650px;
  background-image: url("../images/bg-classmode.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E9F7F5;
  color: white;
}
.teaching-mode .container{
  padding-top: 80px;
}

.teaching-mode .rect-header{
  background-image: url("../images/classmode-block.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}
.teaching-mode h4{
  padding: 5px;
  margin: 0;
}
.teaching-mode .cards{
  padding-top: 80px;
  text-align: center;
}
.teaching-mode h6{
  padding-top: 20px;
  font-size: 1.6em;
  font-weight: 200;
}

/*成功案例*/
.sample{
  background-color: #F0F0F0;
}
.sample .container{
  padding-top: 20px;
  text-align: center;
}
.sample .rect-header{
  background-image: url("../images/case-block.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: top;
  position: absolute;
}
.sample h4{
  font-size: 2.4em;
  padding: 15px;
}
.sample .schools{
  display:  inline-block;
  padding-top: 100px;
  width: 90%;
  padding-bottom: 15px;
}
.sample .col{
  display: inline-block;
  text-align: left;
  padding-left: 10%;
  line-height: 20px;
  font-weight: 200;
  color: #464646;
}
.sample .more{
  padding:15px 0;
}

@media (max-width: 1210px){
  h4{
    font-size: 2.4em;
  }
  .resource h4{
    font-size: 4em;
  }
  .resource p{
    font-size: 1.5em;
  }
  .teaching-text h5{
    font-size: 2em;
  }
  .teaching-text p{
    font-size: 0.9em;
  }
  .smartclass{
    height: 500px;
  }
  .smartclass .container{
    padding-left: 10%;
    padding-top: 80px;
  }
}

@media (max-width: 991px){
  .md-above{
    display: none;
  }
  .sm-below{
    display: block;
  }
  h4{
    font-size: 2em;
  }
  .resource h4{
    font-size: 3em;
  }
  .resource p{
    font-size: 1.2em;
  }
  .teaching-mode{
    min-height: 0;
  }
  .teaching-mode .container{
    padding-top: 40px;
  }
  .teaching-mode .cards{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .teaching-mode .card img{
    width: 50%;
  }
  .teaching-mode h6{
    padding-top: 0;
    padding-bottom: 5px;
  }
  .sample .schools{
    padding-top: 110px;
  }
}
@media (max-width: 767px){
  .sample .sm-above{
    display: none;
  }
  .resource h4{
    font-size: 2em;
  }
  .resource p{
    font-size: 1em;
  }
  .teaching-mode h6{
    font-size: 1.3em;
  }
}

@media (max-width: 450px){
  h4{
    font-size: 2em;
  }

  .xs-above{
    display: none;
  }
  .xxs-only{
    display: block;
  }

  .banner{
    min-height: 100px;

    text-align: center;
  }
  img.banner-image{
    display: none;
  }
  .banner-text-block{
    padding-top: 40px;
    padding-bottom: 20px;
    display: inline-block;
    width: 50%;
  }

  .resource{
    padding: 40px 0;
  }

  .resource h4{
    font-size: 1.1em;
  }
  .resource p{
    font-size: 0.5em;
    padding: 0;
  }
  .online-space{
    height: 360px;
    background-position: 70% 50%;
  }
  .online-space .text-block{
    padding: 150px 0px 20px 53%;
  }

  .online-space h4{
    font-size: 1.3em;
  }
  .online-space p{
    padding-top: 0;
    font-size: 0.5em;
  }
  .teaching-space{
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .teaching-space .teaching-text{
    text-align: center;
  }
  .teaching-space h5{
    display: none;
  }
  .text-block.xxs-only{
    display: inline-block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .text-block.xs-above{
    display: none;
  }
  .study-space h4{
    padding-bottom: 0;
    text-align: center;
  }
  .study-space #study-image{
    width: 80%;
  }
  .smartclass p{
    padding:10px;
  }

  .teaching-mode h6{
    font-size: 1em;
  }
  .sample .schools{
    padding-top: 0;
  }
  .sample .col{
    padding-left: 10px;
    padding-right: 0;
    line-height: 16px;
    color: #666666;
    font-size: 0.8em;
  }
  .schools .row.vdivide{
    padding-left: 10%;
  }


}
